 <!-- [formGroup]="bookAdd" -->
 <div [formGroup]="form">
  <ng-container *ngFor="let control of controlKeys" >
    <ng-container *ngIf="isFormGroup(formControls[control]); else formControlTemplate">
      <ng-template [ngIf]="control =='category'" [ngIfElse]="formGroupTemplate" >
        <div [formGroupName]="'category'">
          <app-category-dropdown [categoryForm]="formControls[control]"></app-category-dropdown>
        </div>
      </ng-template>

      <ng-template #formGroupTemplate>
        <div [formGroupName]="control" class="form-outline flex-fill mb-0">
          <app-form-generator [form]="formControls[control]" [model]="model[control]" [ignoreProperties]="ignoreProperties[control]" ></app-form-generator>
        </div>
      </ng-template>

    </ng-container>

      <ng-template #formControlTemplate>
        <div class="form-outline flex-fill mb-0">
          <input type="text" id="form1" class="form-control" formControlName="{{control}}" />
          <label class="form-label" for="form1">{{control|titlecase}}</label>
        </div>
      </ng-template>

  </ng-container>


</div>
